* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/bg1.jpg) repeat-x;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding-top: 12px;
    width: 1000px;
    background: white;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 2px solid #000000;
    box-shadow: 0 0 5px 3px #0a5b72;
}

.img1 {
    float: left;
    border: 0;
    width: 283px;
    padding-left: 29px;
    height: 164px;
}

.contacts {
    float: right;
    font-family: "Tahoma";
    font-size: 12pt;
    color: #128aa7;
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 20px 300px;
}


/******меню с иконками*/

.micon {
    float: right;
    padding-right: 30px;
}

.icon {
    font-family: "Tahoma";
    font-size: 10px;
    color: #128aa7;
    padding: 0;
    margin: 0;
}

.icon li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.icon li span {
    display: block;
    width: 55px;
}

.icon li a:hover {
    color: #106c82;
}


/******************************/

.photo {
    /*    margin-top: -3px;*/
    padding: 0;
    height: 402px;
}


/***********************************/


/* меню */

.menu {
    clear: left;
    position: relative;
    right: 50%;
    height: 30px;
    float: right;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: left;
    position: relative;
    left: 50%;
}

ul.menu > li > a {
    display: block;
    padding: 0px 30px 0 30px;
    color: white;
    text-decoration: none;
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 30px;
}

ul.menu > li > a span {
    font-size: 10px;
    margin-left: 3px
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 100%;
    left: 25px;
    box-shadow: 0 2px 3px 0px #373636;
    border-top: 1px solid #000000;
}

ul.submenu > li {
    display: block;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    font-family: "Tahoma";
    font-size: 14px;
    color: white;
    background-color: #323232;
    text-decoration: none;
    text-align: left;
}

ul.submenu > li > a:hover {
    text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

#menu2 {
    position: relative;
    width: 1000px;
    height: 30px;
    border-bottom: 2px black;
    border-bottom: 1px solid #000000;
    box-shadow: 0 2px 3px 0px #373636;
    z-index: 25;
    background: #373737;
    /* Old browsers */
    background: -moz-linear-gradient(top, #373737 0%, #303030 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #373737 0%, #303030 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #373737 0%, #303030 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030', GradientType=0);
    /* IE6-9 */
}
/********************************************/
.container-box {
    width: 1000px;
    overflow: hidden;
    background: url(../img/fon1.png);
    position: relative;
    z-index: 20;
    color: #424c43;
    font-family: "Tahoma";
    font-size: 14px;
}

.box1 {
    float: left;
    width: 210px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.info {
    padding-left: -10px;
    font-family: "Tahoma";
    font-size: 16px;
    text-align: center;
    line-height: 2.3;
}

.text {
    padding: 0 5px 0 15px;
    line-height: 1.7;
}

.box2 {
    float: left;
    width: 580px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.box3 {
    float: left;
    width: 210px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.copy {
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Tahoma";
    font-size: 10pt;
}